

.home {
    justify-items: center;

    .active-home {  // actualy home page (if user is valid)

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 1000px;
        padding: 15px;


        .header {

        }

        .eachContentCategory {  // gnews, youtube ect
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;


            h1{

            }

            .content-section {  // news container
                width: 100%;
                padding: 10px;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(465px, 1fr));
                
                gap: 20px;
                
                

                .content-card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 10px;
                    border-radius: 10px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    border: 1px solid #ccc;
                    width: 465px;
                    justify-content: center;
                    

                    h3 {
                       height: 75px;
                       display: flex;
                       align-items: center;
                       justify-content: center;
                       text-align: center; 
                    }

                    img {
                        width: 100%;
                        height: 250px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}