.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    .init-btn {
        
        width: 200px;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
            
        background-color: rgb(63, 145, 90); 
        color: white;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        border-radius: 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        outline: none;
        transition: all 0.3s ease;
        
        
        &:hover {
          background-color: #125c00;
          transform: translateY(-4px);
        }
    }


    p{
        font-size: 22px;
        font-weight: 800;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    input{
        width: 300px;
        height: 35px;
        padding-left: 7px;    
        border: 1px solid;  
        border-radius: 5px;
        font-size: 16px;  
        outline: none;     
    }
    input:focus{
        border-color:  rgb(63, 145, 90);
        box-shadow: 0 0 5px  rgb(63, 145, 90);    
    }

    button{
        width: 300px;
        height: 35px;
        font-size: 16px;
        border: 0px;
        color: white;
        background-color: rgb(63, 145, 90);

        &:hover{
            cursor: pointer;
            transform: scale(1.05);
        }
    }

    .links{
        text-decoration: none;
        
    }

    .register{
        background-color:white;
        color:rgb(63, 145, 90);
        border: solid 1px rgb(63, 145, 90);
        
    }


    .login-card{
        height: 400px;
        width: 370px;
        background-color: rgb(229, 245, 239);
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 23px;
        align-items: center;
        border: 0.5px solid ;
        border-radius: 15px;   
    }
}